
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

body {
  background: url('../assets/images/escheresque_ste.png') repeat;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: steelblue;
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
}

/**
* App-wide Colors
*/

$light-green: #66bb6a;
$green: #43a047;
$dark-green: #2e7d32;

/**
* App-wide Mixins
*/

@mixin shadow() {
  box-shadow: 5px 5px 5px #212121;
}

// Component styles are injected through grunt
// injector
@import 'login/login.scss';
@import 'main/main.scss';
@import 'register/register.scss';
// endinjector
